
<table class="table table-success table-hover mt-2  ">
    <thead class="table-info">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of cartList; let i = index; trackBy:prdTrackBnFn">
        <td>{{ i + 1 }}</td>
        <td>{{ prd.product.name }}</td>
        <td>
          <img [src]="prd.product.imageUrl" alt="{{ prd.product.name }}" style="max-width: 100px;">
        </td>
        <td>{{ prd.itemCount }}</td>
        <td>{{ prd.product.price | currency: 'USD': 'symbol' }}</td>

        <td>
          <button mat-icon-button aria-label="Delete item" (click)="delete(prd.product.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>

      </tr>

    </tbody>
  </table>

  <h3 style="color: blueviolet;margin-bottom: 560px;" >Total Price :{{totalPrice| currency: 'USD': 'symbol'}} </h3>