
.add-product{

  background-color: #2aa86d;
  color: #ffffff;


}




.delete-product{

  background-color: #d81818;
  color: #ffffff;


}


.update-product{

  background-color: #230ee4;
  color: #ffffff;


}






.update-button {
    background-color: #167031;
    color: #ffffff;
  }


  .submit-button{

    background-color:red;
    color: #ffffff;

  }

  
  .add-button{

    background-color:red;
    color: #ffffff;
  }


  
  
  .delete-button{
   background-color:red;
    color: #ffffff;

  }


  
.close-button{

    background-color: #726f6f;
    color: #ffffff;

}
  
